<h1>All Animals</h1>

<ul>
  <% for animal in @animals %>
    <li><%= link_to animal.name, animal_path(animal) %></li>
  <% end %>
</ul>

<%= link_to "Create New Animal", new_animal_path() %>
<br>
<%= link_to "Delete All Animals", clear_path %>
